h1 {
    font-size: 2em;
    line-height: 2em;
    margin-bottom: 0;
}

h2 {
    font-size: 1.2em;
    line-height: 1.2em;
    margin-bottom: 0.3em;
}

.center {
    margin: 0 auto;
    text-align: center;
    display: block;
}

#start h1 {
    font-size: 100px;
    text-align: center;
    font-weight: bold;
}

#start h3 {
    font-size: 30px;
    text-align: center;
}

#start h1, #start h3 {
    margin-top: 2em;
}
iframe {
    width: 100%;
}
table {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}
.blue{
    color: blue
}
tr {
    border-bottom: 1px solid gray;
}

th {
    font-weight: bold;
}

th, td {
    padding: 5px;
}

td.code {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

#selectors h1, #selectors2 h1 {
    margin-bottom: 0;
}

.step > iframe {
    margin-bottom: 10px;
    min-height: 400px !important;
    border: 1px solid #808080 !important;
}

.container6-4 > *:first-child {
    width: 57.5%;
    display: inline-block;
    vertical-align: top;
}

.container6-4 > *:last-child {
    width: 37.5%;
    margin-left: 5%;
    display: inline-block;
    vertical-align: top;
}

#syntax2 {
    display: none;
}

#syntax2.active {
    display: block;
}

h1.priorties {
    line-height: 100px;
    font-size: 1.5em;
}

.priorties {
    color: red;
}

.priorties span {
    font-size: 0.5em;
    color: rgb(102, 102, 102);
}

#priorties2 {
    display: none;
}

#priorties2.active {
    display: block;
}

#priorties3 img {
    max-height: 80%;
    margin: 0 auto;
    display: block;
}

#block-inline ul {
    list-style-type: none;
}
#block-inline ul > li
{
    margin-left: 2em;
}
#block-inline ul > li:before {
    content: "–";
    position: absolute;
    margin-left: -1.1em;
}
#block-inline-example iframe {
    height: 200px;
    width: 100%;
    border: none;
}