h1 Example

pre
    code(contenteditable, data-trim)
        |&lt;div&gt;
        |    &lt;span&gt;1&lt;/span&gt;
        |    &lt;span&gt;2&lt;/span&gt;&lt;span&gt;3&lt;/span&gt;
        |&lt;/div&gt;
        |&lt;div&gt;
        |    &lt;span&gt;4&lt;/span&gt;
        |    &lt;span&gt;5&lt;/span&gt;&lt;span&gt;6&lt;/span&gt;
        |&lt;/div&gt;
        |&lt;div&gt;
        |    &lt;span&gt;7&lt;/span&gt;
        |    &lt;span&gt;8&lt;/span&gt;&lt;span&gt;9&lt;/span&gt;
        |&lt;/div&gt;
br
div
    iframe(src="frames/display/block-inline/index.html")
