h1 <span class="blue">block</span> vs <span class="blue">inline</span>

h2 <b>Block elements</b>
ul
    li display: <b class="blue">block</b>
    li displayed <b>under</b> each other
    li size defined by width, height, margin, padding
    li example:<b> &lt;div&gt;, &lt;section&gt;, &lt;p&gt;</b>
br
h2 <b>Inline elements</b>
ul
    li display: <b class="blue">inline</b>
    li displayed <b>next</b> to each other
    li size defined only by content size and margin-left, margin-right, padding-left, padding-right
    li example:<b> &lt;b&gt;, &lt;i&gt;, &lt;a&gt;, &lt;span&gt;</b>