h1 Exercise 3 - Box model
pre._cssdeck_embed(data-pane="html,css", data-user="tbialecki", data-href="jkntqvh4", data-version="0")
script(async, src="http://cssdeck.com/assets/js/embed.js")
div
    iframe(src="http://cssdeck.com/labs/full/jej2t4lj//noframe")
