h1 Horizontal alignment

h2 How to align <span class="blue">inline</span> elements <span class="blue">horizontally</span>

pre
    code(contenteditable, data-trim)
        |.container {
        |   text-align: center;
        |}
        |.child {
        |   display: inline-block;
        |}
iframe(src="frames/box-model/horizontal-inline.html",height=100)
