h1 Exercise 2 - Selectors
pre._cssdeck_embed(data-pane="output", data-user="tbialecki", data-href="qfaxbef2", data-version="0")
script(async, src="http://cssdeck.com/assets/js/embed.js")

a(href="http://cssdeck.com/labs/full/ssz5nsm2", target="_blank") Expected result