h1 <i>Cascading Style Sheets</i> Syntax
    pre
        code(contenteditable, data-trim)
            |p, div {
            |   background: red;
            |   font-weight: bold;
            |   color: blue
            |}
            |&nbsp;
            |p {
            |   font-style: italic
            |}
            |&nbsp;
            | /* Css comment */