h1 Selector's priority
h1.priorties (S<span>ource</span>,I<span>ds</span>,C<span>lasses</span>,E<span>elements</span>)
table
    tbody
        tr
            td.bold Source
            td 2 - Inline <br> 1 - <span style="color:blue">&lt;style&gt;&lt;/style&gt;</span> tag <br> 0 - External file
        tr
            td.bold Ids
            td Number of identifiers in selector
        tr
            td.bold Classes
            td Number of classes in selector
        tr
            td.bold Elements
            td Number of elements in selector