h1 Positioning

h2 <b>position: <span class="blue">absolute</span></b>
ul
    li element is positioned <b>relative to its first positioned (not static) ancestor element</b>
    li position can be adjusted with <i>top, bottom, left, right</i> properties
    li offten used together with <b>relative</b> positioning
br
h2 <b>position: <span class="blue">fixed</span></b>
ul
    li element is positioned <b>relative to the browser window</b>
    li position can be adjusted with <i>top, bottom, left, right</i> properties

