h1 Positioning

h2 <b>position: <span class="blue">static</span></b>
ul
    li default value
    li positioned according to the normal flow
br
h2 <b>position: <span class="blue">relative</span></b>
ul
    li element is positioned <b>relative to its normal position</b>
    li position can be adjusted with <i>top, bottom, left, right</i> properties
    li even if moved consumes space in container

