h1 Float
ul
    li element can be pushed to the <b class="blue">left</b> or <b class="blue">right</b>,<br> allowing other elements to wrap around it
    li elements are floated <b class="blue">horizontally</b>
    li element<u>s</u> after the floating element will flow around it
    li if an image is floated to the right, a following text flows around it, to the left
br