script(type='text/javascript', src='lib/impress.js/js/impress.js')
script(type='text/javascript').
    impress().init();
script(type='text/javascript', src='lib/highlight.js/highlight.min.js')
script(type='text/javascript', src='lib/highlight.js/zoom.js')
script(type='text/javascript', src='js/custom.js')
script.
    hljs.initHighlightingOnLoad();
script(src='//localhost:35729/livereload.js')
