#start.slide.step(data-x='0', data-y='0', data-rotate-x='')
    include ./slides/start.jade
#syntax.slide.step(data-x='1000', data-y='0', data-rotate-x='')
    include ./slides/syntax.jade
#syntax2.slide.step(data-x='1000', data-y='0')
    include ./slides/syntax2.jade
#selectors.slide.step(data-x='1000', data-y='800', data-rotate-x='')
    include ./slides/selectors/selectors.jade
#selectors2.slide.step(data-x='1000', data-y='1600', data-rotate-x='')
    include ./slides/selectors/selectors2.jade
#exercise-selectors.slide.step(data-x='1000', data-y='2400', data-rotate-x='')
    include ./slides/selectors/exercise-selectors.jade
#exercise-selectors2.slide.step(data-x='1000', data-y='3200', data-rotate-x='')
    include ./slides/selectors/exercise-selectors2.jade
#priorties.slide.step(data-x='1000', data-y='4000', data-rotate-x='360')
    include ./slides/selectors/priority.jade
#priorties2.slide.step(data-x='1000', data-y='4800', data-rotate-x='')
    include ./slides/selectors/priority2.jade

#box-model.slide.step(data-x='2000', data-y='0', data-rotate-x='')
    include ./slides/box-model/box-model.jade
#block-inline.slide.step(data-x='2000', data-y='800', data-rotate-x='')
    include ./slides/display/block-inline.jade
#block-inline-example.slide.step(data-x='2000', data-y='1600', data-rotate-x='')
    include ./slides/display/block-inline-example.jade
#block-model-exercise.slide.step(data-x='2000', data-y='2400', data-rotate-x='')
    include ./slides/box-model/box-model-exercise.jade